{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Sign up form</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ioicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ioicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-image: url({% static 'images/flames.jpg' %});">
    <nav class="main-menu ">
        <ul class="menu-area-main">
          <li class="active"> <a href="/">Home</a> </li>
      
          <li> <a href="/about/">About</a> </li>
          <li> <a href="/concerts/">Concerts </a> </li>
          <li> <a href="/gallery/">Gallery</a> </li>
          <li> <a href="/contact/">Contact</a> </li>

            <li > <a   href="/login/">Login</a> </li>
          <li  > <a  class="last_manu" href="#"><img src="{% static 'images/search_icon.png' %}" alt="#" /></a> </li>
          
         </ul>
       </nav>
    <section class="section">
        <form method="post" >
            {% csrf_token %}

            <h1>Sign up</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" placeholder="Username" name="Username" required>
                <label>Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" placeholder="Password" name="Password" required>
                <label>Password</label>
            </div>
            <div class="forget">
                <label><input type="checkbox">Remember Me</label>
                <a href="#">Forgot Password?</a> 
            </div>
            <button>Sign up</button>
            <div class="register">
                <p>Don't have an account? <a href="#">Register</a></p>
            </div>
        </form>
    </section>
</body>
</html>